@using DevExpress.Web.Mvc.UI;
@using DevExpress.Web.Mvc;

@model MyModel

<table>
    <tr>
        <td colspan="2">
            @Html.DevExpress().Label(settings => {
           settings.Text = "Id:";
       }).GetHtml()
            @Html.DevExpress().TextBox(settings => {
           settings.Name = "Id";
       }).Bind(Model.Id).GetHtml()
        </td>
    </tr>
    <tr>
        <td>
            @Html.DevExpress().Label(settings => {
           settings.Text = "Name<span style=\"color: Red\">*</span>:";
           settings.EncodeHtml = false;
       }).GetHtml()
            @Html.DevExpress().TextBox(settings => {
           settings.Name = "Name";
       }).Bind(Model.Name).GetHtml()
        </td>
        <td style="color: Red; vertical-align: bottom;">
            @Html.ValidationMessageFor(m => m.Name)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DevExpress().Label(settings => {
           settings.Text = "Age<span style=\"color: Red\">*</span>:";
           settings.EncodeHtml = false;
       }).GetHtml()
            @Html.DevExpress().TextBox(settings => {
           settings.Name = "Age";
       }).Bind(Model.Age).GetHtml()
        </td>
        <td style="color: Red; vertical-align: bottom;">
            @Html.ValidationMessageFor(m => m.Age)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DevExpress().Label(settings => {
           settings.Text = "Order date<span style=\"color: Red\">*</span>:";
           settings.EncodeHtml = false;
       }).GetHtml()
            @Html.DevExpress().DateEdit(settings => {
           settings.Name = "OrderDate";
       }).Bind(Model.OrderDate).GetHtml()
        </td>
        <td style="color: Red; vertical-align: bottom;">
            @Html.ValidationMessageFor(m => m.OrderDate)
        </td>
    </tr>
</table>
<br />
